@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap");

:root {
  --primary: #3563E9;
  --secondary: #54A6FF;
  --danger: #FF4423;
  --font-primary: #1A202C;
  --font-secondary: #90A3BF;
  --font-tertiary:#6e7c92;
  --icon: #596780;
  --bg-color: #F6F7F9;
  --nav-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, "Segoe UI", "Roboto";
  background-color: var(--bg-color);
}

ul,li,p,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}

/* Home  */

.home{
  margin: 40px 60px;
}

/* top section */

.topSection{
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  height: 350px;
}
.topSection .leftTopSection{
  position: relative;
  border-radius: 10px;
  background-color: var(--secondary);
}
.topSection .leftTopSection button{
  background-color: var(--primary);
}
.topSection .leftTopSection button:hover{
  background-color: var(--secondary);
  border: 1px solid var(--primary);
}
.topSection .rightTopSection{
  position: relative;
  border-radius: 10px;
  background-color: var(--primary);
}
.topSection .rightTopSection button{
  background-color: var(--secondary);
}
.topSection .rightTopSection button:hover{
  background-color: var(--primary);
  border: 1px solid var(--secondary);

}
.topContent{
  padding: 30px;
  color: white;
  width: 50%;
}
.topSection img{
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 5%;
  left: 30%;
}
.topContent h1{
  font-weight: 500;
  word-spacing: 1px;
}
.topContent p{
  margin-block: 20px;
}
.topContent button{
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
@media only screen and (max-width: 1199px) {
  .topContent{ width: 70%; }
  .topContent h1{ font-size: 25px; }
  .topContent p{ font-size: 15px; }
  .topSection img{ width: 250px; }
}
@media only screen and (max-width: 991px) {
  .rightTopSection{ display: none; }
  .topSection{ grid-template-columns: auto; }
  .home{ margin: 40px 40px; }
}
@media only screen and (max-width: 600px) {
  .topContent h1{ font-size: 20px; }
  .topContent p{ font-size: 13px; }
  .topSection img{ width: 200px;   left: 25%; }
  .home{ margin: 40px 30px; }
}